<!DOCTYPE html>
<html>
<head> 
	<title>ShorterUrl</title>	
  	<script src="js/jquery-1.5.2.min.js" type="text/javascript" charset="utf-8"></script>
  	<script src="js/jquery.tmpl.js" type="text/javascript" charset="utf-8"></script>
	<script src="js/spine.tmpl.js" type="text/javascript" charset="utf-8"></script>
  	<script src="js/spine.min.js" type="text/javascript" charset="utf-8"></script>
  	<script src="js/spine.route.js" type="text/javascript" charset="utf-8"></script>
  	<script src="js/jquery.bitlydfd.js" type="text/javascript"></script>
	<script src="js/spine.model.local.js" type="text/javascript" charset="utf-8"></script>

	<link rel="stylesheet" type="text/css" href="css/application.css"/>


  <script type="text/javascript" charset="utf-8">
    var Users = Spine.Controller.create({
      init: function(){
        this.navigate("/step", '1');  
      },
      
      active: function(number){
        console.log("active", number)  
      }
    });
    
    // Fire event on load
    Spine.Route.setup();
        
    // Add routes in App controller
    var App = Spine.Controller.create({
      init: function(){
        this.users = Users.init();
        this.routes({
          "/step/:number": function(num){
            this.users.active(num);
          },
          "/step/*glob": function(any){
            console.log('any', any);
          }
        });
      }
    }).init();
    
    // Add routes manually
    
    // Add a group of routes
    Spine.Route.add({
      "/groups/:id": function(id){
      }
    });
    
    // More generic routes added last
    
    // Use your own regex
    Spine.Route.add(/\/groups(\/)?/, function(){
    });
  </script>

<script type="text/javascript">
// Create the Task model.
var Task = Spine.Model.setup("Task", ["name", "done", "original"]);

// Persist model between page reloads.
Task.extend(Spine.Model.Local);

Task.extend({
  // Return all active tasks.
  active: function(){
    return(this.select(function(item){ return !item.done; }));
  },
  
  // Return all done tasks.
  done: function(){
    return(this.select(function(item){ return !!item.done; }));    
  },
  
  // Clear all done tasks.
  destroyDone: function(){
    this.done().forEach(function(rec){ rec.destroy() });
  }
});

jQuery(function($){
	

  window.Tasks = Spine.Controller.create({
    tag: "li",
    
    proxied: ["render", "remove"],
    
    events: {
      "change   input[type=checkbox]": "toggle",
      "click    .destroy":             "destroy",
      "dblclick .view":                "edit",
      "keypress input[type=text]":     "blurOnEnter",
      "blur     input[type=text]":     "close"
    },
    
    elements: {
      "input[type=text]": "input",
      ".item": "wrapper"
    },
    
    init: function(){
      this.item.bind("update",  this.render);
      this.item.bind("destroy", this.remove);
    },
    
    render: function(){
      var elements = $("#taskTemplate").tmpl(this.item);
      this.el.html(elements);
      this.refreshElements();
      return this;
    },
    
    toggle: function(){
      this.item.done = !this.item.done;
      this.item.save();      
    },
    
    destroy: function(){
      this.item.destroy();
    },
    
    edit: function(){
      this.wrapper.addClass("editing");
      this.input.focus();
    },
    
    blurOnEnter: function(e) {	
      if (e.keyCode == 13) e.target.blur();
    },
    
    close: function(){
      this.wrapper.removeClass("editing");
      this.item.updateAttributes({name: this.input.val()});
    },
    
    remove: function(){
      this.el.remove();
    }
  });
  
  window.TaskApp = Spine.Controller.create({
    el: $("#tasks"),
    
    proxied: ["addOne", "addAll", "renderCount"],

    events: {
      "submit form":   "create",
      "click  .clear": "clear"
    },

    elements: {
      ".items":     "items",
      ".countVal":  "count",
      ".clear":     "clear",
      "form input": "input"
    },
    
    init: function(){
      Task.bind("create",  this.addOne);
      Task.bind("refresh", this.addAll);
      Task.bind("refresh change", this.renderCount);
      Task.fetch();
    },
    
    addOne: function(task) {
      var view = Tasks.init({item: task});
      this.items.append(view.render().el);
      
    },

    addAll: function() {
      Task.each(this.addOne);
    },
        
    create: function(){
	  var q = this.input;
	  q.bitlyShorten({longUrl:this.input.val()});
      this.input.val("");
      return false;
    },
    
    clear: function(){
      Task.destroyDone();
    },
    
    renderCount: function(){
      var active = Task.active().length;
      this.count.text(active);
      
      var inactive = Task.done().length;
      this.clear[inactive ? "show" : "hide"]();
    }
  });
  
  window.App = TaskApp.init();
});


</script>
</head>
<body>
  	

	 <script type="text/x-jquery-tmpl" id="taskTemplate">
	    <div class="item {{if done}}done{{/if}}">
	      <div class="view" title="Double click to edit...">
	        <input type="checkbox" {{if done}}checked="checked"{{/if}}> 
			
	        <span>${name}</span> 
			<span class="original">${original}</span>
			<a class="destroy"></a>
	      </div>

	      <div class="edit">
	        <input type="text" value="${name}">
	      </div>
	    </div>
	  </script>




	  <div id="views">
	    <div id="tasks">
	      <h1>ShorterUrl</h1>

	      <form>
	        <input class="inputUrl" type="text" placeholder="Enter the URL you would like shortened">
	      </form>

	      <div class="items"></div>
	      <footer>
	        <a class="clear">Clear completed</a>
	      </footer>
	    </div>
	  </div>
	
http://jsfiddle.net/addyosmani/nn7U6/2/
</body>
</html>
