<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="css/application.css" type="text/css" charset="utf-8">

  <script src="lib/json2.js" type="text/javascript" charset="utf-8"></script>
  <script src="lib/jquery.js" type="text/javascript" charset="utf-8"></script>
  <script src="lib/jquery.tmpl.js" type="text/javascript" charset="utf-8"></script>
  <script src="lib/jquery.bitly.js" type="text/javascript" charset="utf-8"></script>
  <script src="lib/store.min.js" type="text/javascript" charset="utf-8"></script>
  <script src="lib/spine.js" type="text/javascript" charset="utf-8"></script>
  <script src="lib/spine.model.local.js" type="text/javascript" charset="utf-8"></script>
  <script src="lib/spine.controller.manager.js" type="text/javascript" charset="utf-8"></script>
  <script src="lib/spine.route.js" type="text/javascript" charset="utf-8"></script>
  <script src="app/models/url.js" type="text/javascript" charset="utf-8"></script>
  <script src="app/application.js" type="text/javascript" charset="utf-8"></script>
  
  <script type="text/x-jquery-tmpl" id="urlTemplate">
    <div class="item">
      <div class="show">
        <span class="short">
          ${long_url}
        </span>
      
        <span class="long">
          {{if short_url}}
            <a href="${short_url}">${short_url}</a>
          {{else}}
            Generating...
          {{/if}}
        </span>
      
        <a class="toggleStats"></a>
        <a class="destroy"></a>
      </div>
    </div>
  </script>  
  
  <script type="text/x-jquery-tmpl" id="statsTemplate">  
    <div class="stats">
      <a class="back">Back</a>
    
      <h1>Click Statistics</h1>
      <h1 class="longUrl">${long_url}</h1>
      
      <p>Short URL: 
        {{if short_url}}
          <a href="${short_url}">${short_url}</a>
        {{else}}
          Generating...
        {{/if}}
      </p>
    
      {{if stats}}
        <p>Global clicks: ${stats.global_clicks}</p>
        <p>User clicks: ${stats.user_clicks}</p>
      {{else}}
        Fetching...
      {{/if}}
    </div>
  </script>
</head>
<body>
  <div id="views">
    <div id="urls">
      <h1>Bit.ly Client</h1>
      
      <form>
        <input type="text" placeholder="Enter a URL">
      </form>
      
      <div class="items"></div>
    </div>
    
    <div id="stats">
    </div>
  </div>
</body>
</html>